<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://kit.fontawesome.com/2af9be53dc.js" crossorigin="anonymous"></script>
  
</head>
<body>
    <div class="popup-box">
        <div class="popup">
            <div class="content">
                <header>
                    <p>Add a new note</p>
                    <i class="fa-solid fa-xmark"></i>
                </header>
                <form action="#">
                    <div class="row title">
                        <label >Title</label>
                        <input type="text">
                    </div>
                    <div class="row descripton">
                        <label >Descripton</label>
                        <textarea></textarea>
                    </div>
                    <button id="addbtn">Add Note</button>
                </form>
            </div>
        </div>
    </div>
   
    <div class="wrapper">
        <div class="add-box">
            <div class="icon"><i class="fa-solid fa-circle-plus"></i></div>
            <p>Add a new note</p>
        </div>
    
        
        
    </div>
    <script type="text/javascript" src="../static/script.js"></script>
</body>
</html>